*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    max-width: 100vh;
    background-color: azure;
    padding: 10px;
}

.todo-box{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    
}